.Product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #353131;
    width: 200px;
    height: 200px;
    background-color: rgb(190, 196, 210);
    color: black;
}